
        <div class="col-5">
            <h4>History</h4>
            {{#if history.length}}
                <ul class="list-group">
                    {{#each history}}
                        <li class="list-group-item">
                            <strong>{{Person.name}}</strong> (ID: {{personId}}) <br>
                            Current Age: {{Calculation.age}} <br>
                            Years Added: {{Calculation.years}} <br>
                            Future Age: {{Calculation.nextage}} <br>
                            <small>Recorded on: {{createdAt}}</small>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No history available.</p>
            {{/if}}
        </div>