
<div class="card bg-dark border-light text-light">
    <div class="card-body">
        <a href="/plants/{{id}}" class="text-decoration-none text-light"> <!-- removing text decoration so that all lines are not underlined, due to being part of an A tag -->
            <h3 class="card-title">{{label}}</h3>
            {{#if needsWater}}
                <p class="text-warning">Needs Water</p>
            {{/if}}
            <p class="card-text"><strong>Species:</strong> {{species}}</p>
            <p class="card-text"><strong>Planting Date:</strong> {{plantDate}}</p>
            <p class="card-text"><strong>Watering Schedule:</strong> {{waterSchedule}}</p>
            <p class="card-text"><strong>Last Watering:</strong> {{lastWaterDate}}</p>
            <p class="card-text"><strong>Notes:</strong> {{notes}}</p>
        </a>
    </div>
</div>


 