
<div class="card bg-dark border-light text-light">
    <div class="card-body">
        <a href="{{id}}" class="text-decoration-none text-light">
            <h3 class="card-title">{{label}}</h3>
            <p class="card-text"><strong>Species:</strong> {{species}}</p>
            <p class="card-text"><strong>Planting Date:</strong> {{plantDate}}</p>
            <p class="card-text"><strong>Watering Schedule:</strong> {{waterSchedule}}</p>
            <p class="card-text"><strong>Notes:</strong> {{notes}}</p>
        </a>
    </div>
</div>


 