<div class="container fluid">
    <div class="row">
        <div class="col-7">
            {{#if name}}
                <div class="m-2">
                    <h4>Hello {{ name }}. You will be {{ nextage }} in {{ years }} years.</h4>
                </div>
            {{/if}}
            <div>
                <form id="age_form" action="/form" method="post">
                    <div class="m-2">
                        <label class="form-label">Name</label>
                        <!-- Populate the name field with the previous value if provided -->
                        <input name="name" class="form-control" value="{{name}}" />
                        <!-- Display error message if there is a validation error for the name field -->
                        {{#if errors.name}}
                            <div class="text-danger">{{errors.name}}</div>
                        {{/if}}
                    </div>
                    <div class="m-2">
                        <label class="form-label">Current Age</label>
                        <!-- Populate the age field with the previous value if provided -->
                        <input name="age" class="form-control" value="{{age}}" />
                        <!-- Display error message if there is a validation error for the age field -->
                        {{#if errors.age}}
                            <div class="text-danger">{{errors.age}}</div>
                        {{/if}}
                    </div>                   
                    <div class="m-2">
                        <label class="form-label">Number of Years</label>
                        <!-- Populate the years field with the previous value if provided -->
                        <input name="years" class="form-control" value="{{years}}" />
                        <!-- Display error message if there is a validation error for the years field -->
                        {{#if errors.years}}
                            <div class="text-danger">{{errors.years}}</div>
                        {{/if}}
                    </div>                           
                    <div class="m-2">
                        <button class="btn btn-primary">Submit</button>                                
                    </div>
                </form>
            </div>
        </div>
        {{> history}}
    </div>
</div>
